body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
    color: #C70039;
    font-family: 'Ruslan Display', cursive;
    text-align: center;
    background-color:#FFC300;
    padding: 20px;
    border: solid #82E0AA;
}

h2 {
    font-size: 36px;
    color: yellow;
}

.container {
    background-color: #900C3F;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    margin: 10px auto 10px auto;
    border: dotted black;
    color: yellow;
    width: 50%;

}

#target-number {
    background-color: #82E0AA;
    color: #FF5733;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    margin: 0px auto 0px auto;
    font-size: 30px;
    text-align: center;

}

#wins {
    background-color: #380B61;
    color: white;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    margin: 10px auto 10px auto;
    font-size: 30px;
    text-align: center;
}

#losses {
    background-color: #380B61;
    color: white;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    margin: 10px auto 10px auto;
    font-size: 30px;
    text-align: center;
}

#total-score {
    background-color: #8F2CC8;
    color: yellow;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    margin: 10px auto 10px auto;
    font-size: 30px;
    text-align: center;
}